@media (min-width: 320px) and (max-width: 600px) { 

    button {
        font-size: 5.7vmin
    }
    
    .header {
        padding: 0;
        min-height: 54px;
    }
    .header__logo {
        display: none;
    }
    .header__btn {
        display: none;
    }
    .header__contacts {
        flex-direction: row-reverse;
    }
    .header__lang {
        order: 1;
    }
    .header__cart {
        display: none;
    }

    .header__contacts a {
        margin-right: 30px;
    }
    .title {
        min-height: 366px;
    background-image: url('./img/banner_top_mobile.webp');
    }
    .title__descr {
        width: 100%;
        bottom: 0;
        flex-direction: column;
        padding: 25px 0 0 20px;
    }
    .title__descr img {
        width: 115px;
        height: 42px;
    }
    h1 {
        font-size: 17px;
        margin: 10px 20px 10px 0;
        align-self: flex-start;
    }
    .descr {
        min-height: 1400px;
        padding: 0 15px;
    }
    .descr__title {
        font-size: 6vmin;
        line-height: 7vmin;
    }
    .descr__subtitle {
        font-size: 4.8vmin;
        line-height: 5vmin;
    }
    .descr__items .item  {
        width: 170px;
        padding: 0;
    }
    .descr__items .item p {
        font-size: 14px;
        padding: 0;
    }
    .descr p {
        padding: 0 10px;
    }
    .show {
        padding: 10px;
    }
    .show_items {
        flex-direction: column;
    }
    .show__descr h3 {
        font-size: 6vmin;
        line-height: 7vmin;
    }
    .show__descr h4 {
        font-size: 16px;
        line-height: 22px;
    }
    .show__descr_time {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .show__descr_btn {
        font-size: 5.7vmin;
        margin-top: 10px;
    }
    .show_items img {
        width: 100%;
        margin-top: 10px;
    }
    .entry {
        padding: 80px 10px 70px 10px;
    }
    .entry__descr {
        flex-direction: column;
    }
    .entry__descr iframe {
        width: 100%;
        margin-top: 10px;
    }
    .entry__btn {
        font-size: 5.7vmin;
        margin: 0 auto;
        margin-top: 35px;
    }
    .news {
        padding: 10px;
    }
    .news__items {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .news__items_item {
        width: 100%;
    }
    .news__items_item button {
        font-size: 5.7vmin;
    }
    .about {
        padding: 10px;
    }
    .about h4 {
        font-size: 6vmin;
        line-height: 1.2;
    }
    .about__slider {
        flex-direction: column;
    }
    .about__slider_item {
        margin: 0;
        padding: 10px;
    }

    .swiper_about {
        width: 95vmin;
        height: 75vw;
    }
    .about__slider_items {
        width: 100vmin;
        height: auto;
    }
    .swiper-slide {
        height: 60vw;
    }
    .about button {
        font-size: 5.7vmin;
        margin: 10px;
    }
    .program h3 {
        font-size: 6vmin;
        line-height: 7vmin;
        margin: 10px 5px;
    }
    .program img {
        padding: 10px;
    }
    .program h4 {
        font-size: 4.8vmin;
        line-height: 5vmin;
    }
    .program__descr {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 15px;
    }
    .program__descr_item {
        margin-top: 20px;
    }
    .questions button {
        font-size: 5.7vmin; 
    }
    .questions__table {
        flex-direction: column;
        width: 100%;
    }
    .questions__table_item {
        width: 100%;
        padding: 10px;
    }
    details summary {
        font-size: 3.4vmin;
        line-height: 4.2vmin;
    }
    .teachers {
        padding-bottom: 0;
    }
    .teachers h3 {
        font-size: 4.8vmin;
        line-height: 5vmin;
    }
    .swiper_teachers {
        padding: 0;
        height: 140vw;
        padding: 100px 0 60px 0;
    }
    .swiper-slide {
        height: 100vw;
    }
    .swiper-slide-item {
        flex-direction: column;
        padding: 10px;
        width: 100%;
        height: 100%;
    }
    .img {
        margin-right: 0px;
    }
    .swiper-slide .img img {
        width: 100%;
    }
    .swiper-slide-item .descr {
        width: 100%;
        margin-left: 0px;
        padding: 0;
    }
    .name {
        font-size: 16px;
        margin-top: 20px;
    }
    .country {
        margin-top: 0;
    }
    .country, .item, .motto,.item span {
        font-size: 13px;
    }
    .swiper-slide-item .descr {
        display: flex;
        flex-direction: column;
    }
    .swiper_teachers .swiper-slide-active {
        margin-left: 0px;
    }
    .swiper_teachers .swiper-slide-next {
        transform: translateX(-80px);
    }
    .swiper_teachers .swiper-slide-prev {
        transform: translateX(80px);
    }
    
    .development_title {
        padding: 20px 15px;
        margin-top: 0;
    }
    .development_title h2 {
        font-size: 6vmin;
        line-height: 7vmin;
    }
    .development_title p {
        width: 100%;
        font-size: 16px;
        line-height: 22px;
        margin: 0;
    }
    .development__item_img {
        width: 175px;
        height: 175px;
    }
    .development__item_descr {
        font-size: 3.7vmin;
    }
    .development__items {
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 100px);
        gap: 10px;
    }
    .item_1 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .item_2 {
        grid-column: 1/2;
    }
    .item_3 {
        grid-column: 2/3;
    }
    .item_4 {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .item_5 {
        display: none;
    }
    .item_6 {
        grid-row: 5/6;
    }
    .item_7 {
        grid-row: 5/6;
    }
    .item_8 {
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .item_9 {
        grid-column: 2/3;
        grid-row: 7/8;
    }
    .development__item_bottom {
        flex-direction: column;
    }
    .reviews h2,
    .headline h2 {
        font-size: 6vmin;
        line-height: 7vmin;
    }
    .reviews__items {
        padding: 10px;
    }
    .reviews__items_logo {
        display: none;
    }
    .reviews button {
        font-size: 5.7vmin; 
        margin: 20px 10px;
    }
    .programms__list {
        flex-direction: column;
        align-items: center;
    }
    .programms__list li a {
        padding: 5px;
        font-size: 18px;
    }
    .conditions {
        padding: 10px;
    }
    .conditions__wrapper {
        flex-direction: column;
        justify-content: center;
    }
    .conditions__form  {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .conditions__form h3 {
        margin-top: 30px;
    }
    .footer__items {
        flex-direction: column;
        padding: 20px 30px;
    }
    .footer__items_el {
        width: 100%;
    }
    .footer__link {
        margin-left: 20px;
    }
    .footer__items_el h3 {
        margin-top: 20px;
    }
 }
